*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

nav {
  width: 100%;
  height: 68px;
  background-color: blueviolet;
  position: sticky;
  top: 0px;
  /* text-decoration: underline; */
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

nav .nav-title {
  padding: 5px 15px;
  color: white;
  text-transform: uppercase;
}

nav .nav-links svg{
  width: 50px;
}

nav .nav-links ul{
  padding: 0;
  margin: 0;
  display: flex;
  list-style: none;
  margin-right: 15px;
  position: relative;
}
nav .nav-links li{
  background: white;
  padding: 10px;
  margin-left: 5px;
  border-radius: 5px;
  transition: all .2s ease-in-out;
}
nav .nav-links li:hover{
  transform: scale(1.1,1.1);
}
nav .nav-links li a{
  color: blue;
  text-decoration: none;
  text-transform: uppercase;
}

nav label{ 
  display: none;
}

.products {
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr; 
  gap: 20px 20px; 
  background-image: url(https://images.remotehub.com/512bf05e9a7a11ebac3a9a0aaf11a20e/original_thumb/0a026a71.jpg?version=1618113595);
  flex-wrap: wrap;
  background-position: center center;
  background-size: cover;
  background-attachment: scroll;
}
.products .product-card{
  overflow: hidden;
  border-radius: 10px;
  height: 200px;
}

.products .product-card img{
  max-width: 100%;
  width: 100%;
  object-fit: cover;
  height: 200px;
}

 
 /* 1025px — 1200px: Desktops, large screens. */
 @media only screen and (min-width: 1025px) {

 }
  .products {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 20px 0px; 
  }
}

/* 481px — 768px: iPads, Tablets. */
@media only screen and (min-width: 481px) and (max-width: 768px){
  .products {
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 20px 20px; 
  }
}

/* 320px — 480px: Mobile devices. */
@media only screen and (max-width: 480px)  {

    .products {
        grid-template-columns: 1fr; 
        grid-template-rows: 1fr 1fr 1fr; 
        gap: 20px 20px; 
    }

    nav label{
        display: block
    }

    nav .nav-links ul{
        display: none;
    }
    nav .nav-links #menu-toggle:checked + ul {
        position: absolute;
        top: 100%;
        right: 0;
        display: block;
        width: 200px;
        background: red;
    }
  
  nav .nav-links #menu-toggle:checked + ul li {
    margin-left: 0;
    margin-bottom:  5px;
    margin-top:  5px;
  }
  
  nav .nav-links #menu-toggle:checked + ul li a {
    display: block;
  }
} 
 
 
/* 769px — 1024px: Small screens, laptops */
@media only screen and (min-width: 769px) and (max-width: 1024px) {

}